<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <title>Account Created</title>
</head>
<body>
<h2>Hi ${name},</h2>
<p>Your account has been created. Please use the following credential to login:</p>
<ul>
    <li><strong>User name:</strong> <span>${username}</span></li>
    <li><strong>Password:</strong> <span>${password}</span></li>
</ul>
<p>If anything is wrong, please reach out to the recruiter  . We are so sorry for this inconvenience.</p>
<p>Thanks & Regards!<br>KTS Team.</p>
</body>
</html>
