<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Request Counselling Reminder</title>
</head>
<body>
<h2>School Counselling Request Notification</h2>
<p>Hi ${name},</p>
<p>This email is from KTS system.</p>
<p>There is <strong>${totalRequest}</strong> requests counselling that is submitted and waiting for your action.</p>
<p>Due Date: <strong>${dueDateString}</strong></p>
<p>Click <a href="${detailsLink}">here</a> to view more details.</p>
<p>Thanks & Regards,<br>KTS Team.</p>
</body>
</html>